<h1>Editar tu Pin</h1>
<!--
<p>Find me in app/views/pins/edit.html.erb</p>
-->

<%= form_with model: @pin do |f| %>
<div class='form-group'>
    <%= f.text_field :name, placeholder: 'Nombre' %>
</div>
<div class='form-group'>
    <%= f.text_field :desc, placeholder: 'Descripcion'%>
</div>
<div class='form-group'>
    <%= f.text_field :photo, placeholder: 'Url Photo' %>
</div>
<div class='form-group'>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
</div>
<% end %>
